/* ===================================
   Product Introduction
=================================== */

.product-intro {
    padding: 90px 0 50px;
}

.product-intro-container {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.product-intro-subtitle {
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

.product-intro-title {
    margin: 20px 0;
    font-size: 44px;
}

.product-intro-description {
    color: var(--text-light);
    line-height: 1.9;
    font-size: 17px;
}