/* ===================================
   Product Grid
=================================== */

.product-grid {

    padding: 0 0 100px;

}

.product-grid-container {

    width: 1280px;
    max-width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}

@media (max-width: 1200px) {

    .product-grid-container {

        grid-template-columns: repeat(2, 1fr);

    }

}

@media (max-width: 768px) {

    .product-grid-container {

        grid-template-columns: 1fr;

    }

}