/* ===================================
   CTA
=================================== */

.cta {
    padding: 100px 0;
    background: var(--primary);
}

.cta-container {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;

    text-align: center;
}

.cta-title {
    margin-bottom: 20px;

    color: #fff;
    font-size: 48px;
}

.cta-description {
    margin: 0 auto 40px;

    max-width: 650px;

    color: rgba(255,255,255,.85);

    font-size: 18px;
    line-height: 1.8;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 220px;
    height: 60px;

    background: #fff;
    color: var(--primary);

    border: 2px solid #fff;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-button:hover {
    transform: translateY(-10px);
    background: transparent;
    color: #fff;
}

@media (max-width: 768px) {

    .cta-title {
        font-size: 36px;
    }

    .cta-buttons {
        flex-direction: column;
    }

}