/* ===================================
   Statistics
=================================== */

.statistics {
    padding: 80px 0;
    background: #ffffff;
}

.statistics-container {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.stat-card {
    padding: 40px 25px;

    text-align: center;

    background: #ffffff;

    border: 1px solid var(--border);
    border-radius: 18px;

    transition: var(--transition);

    box-shadow: 0 8px 20px rgba(0,0,0,.04);
}

.stat-card:hover {
    transition :  0.3s ease-in-out;
    transform: translateY(-12px);
    box-shadow: 0 20px 35px rgba(0,0,0,.08);
}

.stat-card h2 {
    margin-bottom: 10px;

    font-size: 52px;
    color: var(--primary);
}

.stat-card p {
    font-size: 16px;
    color: var(--text-light);
}

@media (max-width:992px){

.statistics-container{

grid-template-columns:repeat(2,1fr);

}

}

@media (max-width:600px){

.statistics-container{

grid-template-columns:1fr;

}

}