/* ===================================
   Testimonials
=================================== */

.testimonials{
    padding:100px 0;
    background:#f8fafc;
}

.testimonials-container{
    width:1280px;
    max-width:90%;
    margin:auto;
}

.testimonial-grid{
    margin-top:60px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.testimonial-card{

    background:#fff;

    padding:35px;

    border-radius:20px;

    box-shadow:var(--shadow);

    transition:var(--transition);
    transition:0.3s;
}

.testimonial-card:hover{

transform:translateY(-10px);

}

.testimonial-stars{

font-size:22px;

margin-bottom:25px;

}

.testimonial-review{

line-height:1.8;

margin-bottom:30px;

color:var(--text-light);

}

.testimonial-author h4{

margin-bottom:8px;

}

.testimonial-author span{

display:block;

font-weight:600;

color:var(--primary);

margin-bottom:5px;

}

.testimonial-author small{

color:var(--text-light);

}

@media(max-width:992px){

.testimonial-grid{

grid-template-columns:1fr;

}

}