/* ===================================
   Gallery Grid
=================================== */

.gallery-grid {

    padding: 100px 0;

}

.gallery-grid-container {

    width: 1280px;
    max-width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

@media(max-width:992px){

.gallery-grid-container{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.gallery-grid-container{

grid-template-columns:1fr;

}

}