/* ===================================
   Gallery Banner
=================================== */

.gallery-banner {

    padding: 120px 0;

    background: linear-gradient(
        135deg,
        #f8fbff 0%,
        #ffffff 50%,
        #eef5ff 100%
    );

}

.gallery-banner-container {

    width: 1000px;
    max-width: 90%;
    margin: 0 auto;

    text-align: center;

}

.gallery-banner-subtitle {

    color: var(--primary);

    font-size: 14px;
    font-weight: 700;

    letter-spacing: 2px;

}

.gallery-banner-title {

    margin: 20px 0;

    font-size: 56px;

    line-height: 1.2;

}

.gallery-banner-title span {

    display: block;
    color: var(--primary);

}

.gallery-banner-description {

    width: 750px;
    max-width: 100%;

    margin: auto;

    font-size: 18px;

    line-height: 1.8;

    color: var(--text-light);

}

@media (max-width:768px){

.gallery-banner{

padding:80px 0;

}

.gallery-banner-title{

font-size:40px;

}

}